<p id="notice"><%= notice %></p>

<p>
  <strong>Number doc:</strong>
  <%= @sale.number_doc %>
</p>

<p>
  <strong>Sale note:</strong>
  <%= @sale.sale_note %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>Um:</strong>
  <%= @sale.um %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale.price %>
</p>

<p>
  <strong>Sale clause:</strong>
  <%= @sale.sale_clause %>
</p>

<p>
  <strong>Date doc:</strong>
  <%= @sale.date_doc %>
</p>

<p>
  <strong>Type doc:</strong>
  <%= @sale.type_doc %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @sale.destination %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @sale.broker %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale.product %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.client %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
